body {
    background-color: #fcf9f4 ;
}

#better {
    float:left;
    width: 230px;
    height: 152px;
    background: url(images/bg.jpg) no-repeat;
    opacity: .70;
}

#better:hover {
    opacity:1;
    -webkit-transform: scale(1.1) rotate(-2deg);
}

#menu-promo {
    float:right;
    width: 274px;
    height: 154px;
    background: green;
    opacity: .65;
}

#menu-promo:hover {
    opacity: 1;
}

#logo {
    position:absolute;
    top: 8px;
    left: 360px;
    width: 180px;
    height: 144px;
    background:url(images/logo.jpg)no-repeat;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

#logo:hover {
    opacity: .70;
}

#navigation {
    width: 100%;
    height: 40px;
    background: #cfcfb8;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top:14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 01x 2px #ccc;
    clear:both;
    -webkit-box-shadow: 2px 0 3px #b8b8b8;

}

#navigation ul li {
    display: inline;
    padding-left: 43px;

}

#navigation li a {
    padding: 5px 15px;
    color: #64645d;
    -webkit-text-shadow: 2px 2px 1px #fff;
    text-shadow: 2px 2px 1px #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-decoration: none;

}

#navigation li a:hover {
    color: #dc692e;
    background: #efefe9;
}

#promotional {
    float:left;
}

#promotional img {
    float:left;
    border:15px solid #fafaf6;
    -webkit-box-shadow: 0px 1px 1px #ccc;
    -moz-box-shadow: 0px 1px 1px #ccc;
    box-shadow: 0px 1px 1px #ccc;

}

#promotional img:hover {
    -webkit-transform: scale(1.1) rotate(-2deg);
    -mox-transform:scale(1.1) rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
}
#selections {
    float:right;
    width: 425px;
    margin-top: 15px;
}

#selections ul li {
    width: 316px;
    font: Georgia;
    text-transform: uppercase;
    color: #787871;
    text-shadow: 1px 1px 1px #fff;
    position: relative;
    margin-bottom: 25px;
    letter-spacing: 1px;
    list-style: none;
    float: left;
}

#selections em {
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 0;
}

#promotional .menu:last-child {
    float:right;
    margin-right: 25px;
}

#selections span {
    position: absolute;
    top:-21px;

    color: #dc692e;

}

#selections ul li.bottle {
    padding-bottom: 8px;
}

#promotional a.menu {
    width: 180px;
    height: 50px;
    padding: 20px 0 0 0;
    text-align: center;
    float: left;
    background: #d0d0c6;
    background: rgba(208, 208, 198, .5);
    margin: 10px 0 0 28px;
    color: #787871;
    font: normal 18px Tahoma;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border:1px solid #d4d4cd;

}

#promotional a.menu:hover {
    color:#dc692e;
    background: #ababa2;
    background: rgba(208, 208m 198, .9);
}

input {
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    opacity: 1;
    background: orange;
}

input:hover {
    opacity: .5;

}

p {
    text-shadow: 1px 1px 2px #999;
    color: rgba(0, 0, 0, 0.75);
}